---
title: Open Source Thanks
---

<p class="lead">This online songbook is borrows heavily from the open source work on the <a href="https://github.com/SongProOrg">SongPro</a> guitar chord parser.</p>
<p>Use of this website and its underlying technolgies is subject to the MIT License and any other applicable licenses.</p>
